In [3]:
#Read data 
import pandas as pd
infor_users_column=['user_id','age','sex','occupation','zip_code']

table_user=pd.read_csv('ml-100k/u.user',sep='|',names=infor_users_column,encoding='latin-1')
print(table_user)
n_users=table_user.shape[0]
print("Number user:",n_users)

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
..       ...  ...  ..            ...      ...
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]
Number user: 943

In [4]:
rate_cols=['user_id','movie_id','rateing_point','time']
rate_base=pd.read_csv('ml-100k/ua.base',sep='\t',names=rate_cols)
rate_test=pd.read_csv('ml-100k/ua.test',sep='\t',names=rate_cols)
print(rate_base)
print(rate_test)
#convert 2 Data frame into narray
rate_train=pd.DataFrame(rate_base).to_numpy()
rate_test=pd.DataFrame(rate_test).to_numpy()
print("Number rate train:",rate_train.shape[0])
print("Number rate test:",rate_test.shape[0])

       user_id  movie_id  rateing_point       time
0            1         1              5  874965758
1            1         2              3  876893171
2            1         3              4  878542960
3            1         4              3  876893119
4            1         5              3  889751712
...        ...       ...            ...        ...
90565      943      1047              2  875502146
90566      943      1074              4  888640250
90567      943      1188              3  888640250
90568      943      1228              3  888640275
90569      943      1330              3  888692465

[90570 rows x 4 columns]
      user_id  movie_id  rateing_point       time
0           1        20              4  887431883
1           1        33              4  878542699
2           1        61              4  878542420
3           1       117              3  874965739
4           1       155              2  878542201
...       ...       ...            ...        ...
9425      943       232              4  888639867
9426      943       356              4  888639598
9427      943       570              1  888640125
9428      943       808              4  888639868
9429      943      1067              2  875501756

[9430 rows x 4 columns]
Number rate train: 90570
Number rate test: 9430